h1{
  text-align: center;
  font-weight: bold;
}
h2{
  text-align: center;
  font-weight: bold;
}
h3{
  text-align: center;
  color: white;
}


.fa{

    padding-left: 50px;
    border-radius: 50%;
    shape-inside: circle();
  }

.goli{
  font-family: 'Vollkorn', serif;
}
.italic{
  font-family: 'Quicksand', sans-serif;
}

input[type=text], select, textarea {
    width:100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.container {
    border-radius: 5px;
    background-color: #gray;
    padding: 20px;
}
.well{
  margin-top: 30px;
  background-color: #gray;
  background-size: cover;
  height: 200px;
  width: auto;
}
*.w3{
  float: left;
  width: 200px;
  height: 40px;
  background-color:green;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-right: 2px;
  text-align: center;
  }
*.w3:hover{
background-color: white;
}
*.w3:hover .w3{
display: block;
}
